@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Candal&family=Itim&display=swap');

h1 {
    font-family: 'Concert One', cursive;
}

body {
    font-family: 'Candal', sans-serif;
}

.card {
    border-radius: 1rem;
    border: 2px dotted #000;
    background-color: #cbd5e1;
    width: 100%;
}

.card-body {
    border-radius: 1rem;
    border: 2px dotted #000;
    background-color: #cbd5e1;
}

.btn-custom {
    background-color: #4f46e5;
    color: #fff;
}

.color {
    background-color: #f59e0b;
    border: 2px solid #f59e0b;
}

.color:hover {
    background-color: #d97706;
    border: 2px solid #d97706;
}

.form-control {
    border: 2px solid #475569;
    color: black;
    opacity: 60%;
}

.form-control:hover {
    opacity: 80%;
}

.form-label {
    font-weight: bold;
    letter-spacing: 1px;
}

.bg-slate-300 {
    background-color: #e2e8f0;
}

.space-x-2 {
    margin-left: 2px;
    margin-right: 2px;
}

tbody tr:hover {
    background-color: #f8fafc;
}

.page-item .page-link {
    border: 2px solid #e2e8f0;
    background-color: #b8c2ce;
    color: rgb(0, 0, 0);
}

.page-item .page-link:hover {
    background-color: #cbd5e1;
    color: #0375ff;
}

.pagination li {
    margin: 0px 0px;
}

.mt1 {
    margin-top: 1px;
}

.btn {
    color: white;
}

.btn:hover {
    color: #e2e8f0;
}